

body {
	background-color: #ffffff;
	color: #666666;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 30px;
	margin:0px;
	}

#container {
	width: 100%;
	background-color: #eeeeee;
}
	
.wrapper {
	width: 960px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}	
	
header {
	background-color:#fff;
	border-bottom:1px solid #d8d8d8;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1)
	-moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	height:80px;
	width:100%;
}
		
		header img {padding:28px 5px 5px 25px}
		
#featured {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #666666;
}
	
main {
	background-color:#ffffff;
	height:100%;
	padding-top: 30px;
	padding-bottom: 30px;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1)
	-moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
	
footer {
		
}